<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    
            <div class="container">
                    <h1>Registration is successful</h1>  
                    <h2>User Profile</h2>
                    <p><strong>Full Name:</strong> <%= user.fullName %></p>
                    <p><strong>Email:</strong> <%= user.email %></p>
                    <p><strong>Age:</strong> <%= user.age %></p>

                    <h2>Thanks for registering</h2> 
                  
            </div>
</body>
</html>